@charset "UTF-8";

body{
	margin : 0;
	padding : 0;
	display : flex;
	text-decoration : none;
}

#box{
	border : 1px solid black;
	width:450px;
	padding : 40px;
	position: absolute;
	top: 50%;
	left : 50%;
	transform: translate(-50%,-50%);
}

#box table input{
	width : 300px;
	height : 10px;
	padding : 12px;
	font-size : 12px;
}

#box table input[type="button"]{
	text-align:center;
	width : 300px;
	height : 50px;
	background-color : black;
	color:white;
	border : 1px solid black;
	cursor : pointer;
	margin : 10px;
}

#box input[type="button"]:hover{
	background-color: #4D56D5;	
}



#login img {
	width : 87px;
	height : 87px;
	margin : 30px 0 0 100px;
}

#login #title{
	font-size : 34px;
	margin-top : 80px;
	margin-bottom : 100px;
}