@charset "UTF-8";
.coupon5 {
	background: url('../img/coupon2.png') no-repeat -62px -44px;
	width: 244px;
	height: 164px;
	zoom : 0.9;
	padding-bottom : 4%;
}
.coupon10 {
	background: url('../img/coupon2.png') no-repeat -382px -40px;
	width: 276px;
	height: 173px;
	zoom : 0.85;
	padding-bottom : 4%;
}
.coupon15 {
	background: url('../img/coupon2.png') no-repeat -732px -40px;
	width: 290px;
	height: 181px;
	zoom : 0.8;
	padding-bottom : 4%;
}
.coupon20 {
	background: url('../img/coupon2.png') no-repeat -69px -293px;
	width: 258px;
	height: 162px;
	zoom : 0.9;
	padding-bottom : 4%;
}
.coupon25 {
	background: url('../img/coupon2.png') no-repeat -390px -292px;
	width: 272px;
	height: 171px;
	zoom : 0.85;
	padding-bottom : 4%;
}
.coupon30 {
	background: url('../img/coupon2.png') no-repeat -743px -291px;
	width: 278px;
	height: 175px;
	zoom : 0.8;
	padding-bottom : 4%;
}
.coupon35 {
	background: url('../img/coupon2.png') no-repeat -73px -519px;
	width: 252px;
	height: 158px;
	zoom : 0.9;
	padding-bottom : 4%;
}
.coupon40 {
	background: url('../img/coupon2.png') no-repeat -388px -515px;
	width: 267px;
	height: 167px;
	zoom : 0.85;
	padding-bottom : 4%;
}
.coupon50 {
	background: url('../img/coupon2.png') no-repeat -750px -513px;
	width: 274px;
	height: 172px;
	zoom : 0.8;
	padding-bottom : 4%;
}
section {
	width: 60%;
	min-height: 600px;
	margin: auto;
	display : flex;
	margin-bottom : 10%;
}
section #contents{
	width : 70%;
	margin-left : 5%;
	margin-right : 5%;
}
section #contents>p{
	text-align : right;
	margin : 0;
}
section #contents>div{
	display : flex;
	flex-wrap: wrap;
}
section #contents>div>div{
	width : 33%;
	object-fit: cover;
	padding-bottom : 3%;
}
section #contents>div>div>span{
	padding-left : 5%;
	font-weight : bold;
}