@charset "UTF-8";
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
}
section{
	width : 65%;
	min-height : 1000px;
	margin : 0 auto;
	display : flex;
}
section>div{
	padding-top : 60px;
}
section #os_div{
	width : 100%;
	margin-left : 5%;
	margin-right : 5%;
	padding-top : 60px;
}
#cate_title{
	display: inline;
	margin: 0px;
}
#cate_title h1 {
	margin: 0px;	
}
.os-search-box{
    box-shadow: 0px 0px 2px 2px #6482ff;
    width: 27%;
    border-radius: 30px;
    position: relative;
    left: 68%;
    top: 3%;
}
.os-search-btn{
  text-decoration: none;
  color: #6482FF;
  line-height: 250%;
}
.os-search-txt{
  border:none;
  width: 80%;
  margin: 2%;
  padding: 2% 2% 2% 3%;
  font-size : 0.8vw;
  border-radius: 10px;
}
#dday {
	background-color: #6482FF;	
	padding: 0.5%;
	color : white;
	font-weight: bold;
	font-size: 0.8vw;
}
#os_btn {
    width: 13%;
	background-color: #6482FF;	
	padding: 0.5%;
	color : white;
	border-radius : 8px;
	display: inline;
	margin-left: 37%;
	font-size: 0.8vw;
	padding-left: 3%;
	padding-right: 3%;
	cursor: pointer;
}

#class_ing {
	padding: 3%;
	background-color: #f9f9f9;
	border-radius: 15px;
	width: 90%;	
	height: 11%;
	margin-bottom: 3%;
}
#ing_title {
	font-size: 1vw;
	font-weight: bold;
	display: inline;
	cursor: pointer;
}
#ing_price {
	margin-top: 1%;
}
#ing_price p{
	display : inline;
	margin-left: 0.6rem;
	font-size: 0.9vw;	
	font-weight: bold;		
}
#ing_price span{
	margin-left: 0.6rem;	
	font-size: 0.9vw;	
	font-weight: bold;
}
#ing_info_con div {
	height: 2rem;
}
#ing_content {
	font-size: 0.8vw;
	margin-left: 0.6rem;	
}
#ing_content_span {
	height: 20%;
	text-overflow: ellipsis;	
    overflow:hidden;
}